<md-toolbar color="primary">
  <a routerLink="/"><span class="brand" >XResearch</span></a>
  <button md-button routerLink="/polls">Polls</button>
  <button md-button routerLink="/create">New poll</button>
  <span class="fill"></span>
  <button *ngIf="!isLoggedIn()" md-button routerLink="/login">
    Login
  </button>
  <button *ngIf="!isLoggedIn()" md-button routerLink="/register">
    Register
  </button>
  <button *ngIf="isLoggedIn()" md-icon-button mdMenuTriggerFor="menu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
