/* You can add global styles to this file, and also import other style files */

body{

    /* background: url(https://cdn-images-1.medium.com/max/2400/1*ZYnsonxwEk9S-6grmJVVhQ.jpeg); */
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
   
}



.home-box{
 background: rgba(0, 0, 0, 0.8); 

 display: flex;
 min-height: 90vh;
flex-direction: column;
background-attachment: fixed;
 
}

.fat{
    color: #4399b363;
    text-decoration: bisque;
}

.mt-10 {
    margin-top: 15%;
     
  }

.mt-5 {
    margin-top: 20%;
    
  }

 .footer{
      background: rgba(0, 0, 0, 0.2);
      
  }